body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos específicos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .table-responsive {
    margin: 0;
  }

  th, td {
    font-size: 14px;
    padding: 8px;
  }

  .btn {
    font-size: 12px;
    padding: 4px 8px;
  }
}
